<a href="https://colab.research.google.com/github/havaledar/ECON3740/blob/main/W24_ECON3740_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
!pip install gdown > /dev/null 2>&1
!pip install stargazer > /dev/null 2>&1


import gdown
import pandas as pd
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer

# Question 1

## Reading data

In [2]:
url = 'https://drive.google.com/file/d/1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU/view?usp=drive_link'
output_filename = 'ceosal.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU
To: /content/ceosal.dta
100%|██████████| 13.9k/13.9k [00:00<00:00, 26.5MB/s]

'ceosal.dta'

In [3]:
CEOSAL = pd.read_stata('/content/ceosal.dta', preserve_dtypes=False)

In [4]:
CEOSAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    175 non-null    int64
 1   age       175 non-null    int64
 2   college   175 non-null    int64
 3   grad      175 non-null    int64
 4   comten    175 non-null    int64
 5   ceoten    175 non-null    int64
 6   sales     175 non-null    float64
 7   profits   175 non-null    int64
 8   mktval    175 non-null    float64
 9   comtensq  175 non-null    int64
 10  ceotensq  175 non-null    int64
 11  profmarg  175 non-null    float64
 12  nsal      175 non-null    float64
dtypes: float64(4), int64(9)
memory usage: 19.1 KB

## Filtering the data

In [5]:
CEOSAL = CEOSAL[CEOSAL['age'] >50]

## Regression Salary / CEO Tenure

In [6]:
m1 = smf.ols('salary ~ ceoten', CEOSAL)

results_m1 = m1.fit()

Stargazer([results_m1])

## Regression Salary / Sales

In [7]:
m2 = smf.ols('salary ~ sales', CEOSAL)

results_m2 = m2.fit()

Stargazer([results_m1, results_m2])

## Regression Salary / Market Value

In [8]:
m3 = smf.ols('salary ~ mktval', CEOSAL)

results_m3 = m3.fit()

Stargazer([results_m1, results_m2, results_m3])

## Regression Salary / CEO Tenure, Sales and Market Value

In [9]:
m4 = smf.ols('salary ~ ceoten + sales + mktval', CEOSAL)

results_m4 = m4.fit()

Stargazer([results_m1, results_m2, results_m3, results_m4])

## Partialling out

In [10]:
m5 = smf.ols('ceoten ~ sales + mktval', CEOSAL)

results_m5 = m5.fit()

Stargazer([results_m5])

In [11]:
CEOSAL['residuals'] = results_m5.resid

In [12]:
CEOSAL['residuals'].describe()

count    1.370000e+02
mean    -8.816954e-16
std      7.329537e+00
min     -8.662236e+00
25%     -5.317043e+00
50%     -1.675540e+00
75%      3.376666e+00
max      2.848864e+01
Name: residuals, dtype: float64

In [13]:
m6 = smf.ols('salary ~ residuals', CEOSAL)

results_m6 = m6.fit()

Stargazer([results_m6])

# Question 2

## Reading data

In [ ]:
url = 'https://drive.google.com/file/d/1m0d9gZZBfHm7qGerKKLN7UzWaNUbQi0R/view?usp=sharing'
output_filename = 'lfs.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1m0d9gZZBfHm7qGerKKLN7UzWaNUbQi0R
To: /content/lfs.dta
100%|██████████| 13.6M/13.6M [00:00<00:00, 129MB/s]

'lfs.dta'

In [ ]:
LFS = pd.read_stata('lfs.dta', convert_categoricals=True)

In [ ]:
LFS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103403 entries, 0 to 103402
Data columns (total 60 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REC_NUM   103403 non-null  int64
 1   SURVYEAR  103403 non-null  int64
 2   SURVMNTH  103403 non-null  category
 3   LFSSTAT   103403 non-null  category
 4   PROV      103403 non-null  category
 5   CMA       103403 non-null  category
 6   AGE_12    103403 non-null  category
 7   AGE_6     19607 non-null   category
 8   SEX       103403 non-null  category
 9   MARSTAT   103403 non-null  category
 10  EDUC      103403 non-null  category
 11  MJH       61764 non-null   category
 12  EVERWORK  41639 non-null   category
 13  FTPTLAST  6518 non-null    category
 14  COWMAIN   68282 non-null   category
 15  IMMIG     103403 non-null  category
 16  NAICS_21  68282 non-null   category
 17  NOC_10    68282 non-null   category
 18  NOC_43    68282 non-null   category
 19  YABSENT   9358 non-null    category
 20  WKSAWAY   9358 non-null    float64
 21  PAYAWAY   8652 non-null    category
 22  UHRSMAIN  61764 non-null   float64
 23  AHRSMAIN  61764 non-null   float64
 24  FTPTMAIN  61764 non-null   category
 25  UTOTHRS   61764 non-null   float64
 26  ATOTHRS   61764 non-null   float64
 27  HRSAWAY   45373 non-null   float64
 28  YAWAY     6697 non-null    category
 29  PAIDOT    45373 non-null   float64
 30  UNPAIDOT  45373 non-null   float64
 31  XTRAHRS   45373 non-null   float64
 32  WHYPT     10154 non-null   category
 33  TENURE    61764 non-null   float64
 34  PREVTEN   6518 non-null    float64
 35  HRLYEARN  53443 non-null   float64
 36  UNION     53443 non-null   category
 37  PERMTEMP  53443 non-null   category
 38  ESTSIZE   53443 non-null   category
 39  FIRMSIZE  53443 non-null   category
 40  DURUNEMP  3571 non-null    float64
 41  FLOWUNEM  4139 non-null    category
 42  UNEMFTPT  4139 non-null    category
 43  WHYLEFTO  6518 non-null    category
 44  WHYLEFTN  6518 non-null    category
 45  DURJLESS  35422 non-null   float64
 46  AVAILABL  4416 non-null    category
 47  LKPUBAG   395 non-null     category
 48  LKEMPLOY  1686 non-null    category
 49  LKRELS    1093 non-null    category
 50  LKATADS   2612 non-null    category
 51  LKANSADS  1483 non-null    category
 52  LKOTHERN  830 non-null     category
 53  PRIORACT  3433 non-null    category
 54  YNOLOOK   1226 non-null    category
 55  TLOLOOK   138 non-null     category
 56  SCHOOLN   76566 non-null   category
 57  EFAMTYPE  103403 non-null  category
 58  AGYOWNK   26565 non-null   category
 59  FINALWT   103403 non-null  int64
dtypes: category(43), float64(14), int64(3)
memory usage: 18.5 MB

In [ ]:
pd.read_stata('lfs.dta', iterator=True).variable_labels()

In [ ]:
LFS['HRLYEARN'].describe()

count    53443.000000
mean        32.958818
std         17.763025
min          5.190000
25%         20.000000
50%         28.000000
75%         41.000000
max        197.440000
Name: HRLYEARN, dtype: float64

https://odesi.ca/en/details?id=/odesi/doi__10-5683_SP3_VTKODV.xml

In [ ]:
LFS = LFS[
    (LFS['HRLYEARN'] > 0) &
    (
        (LFS['COWMAIN'] == 'Private sector employees') |
        (LFS['COWMAIN'] == 'Public sector employees')
         )
    ]

In [ ]:
 EDUC SEX

In [ ]:
LFS['HRLYEARN'].info()

<class 'pandas.core.series.Series'>
Int64Index: 103403 entries, 0 to 103402
Series name: HRLYEARN
Non-Null Count  Dtype
--------------  -----
53443 non-null  float64
dtypes: float64(1)
memory usage: 1.6 MB

In [ ]:
LFS['HRLYEARN'].head(10)

0      NaN
1      NaN
2    18.25
3      NaN
4      NaN
5    16.00
6    28.50
7      NaN
8    14.25
9      NaN
Name: HRLYEARN, dtype: float64

In [ ]:
LFS['COWMAIN'].info()

<class 'pandas.core.series.Series'>
Int64Index: 103403 entries, 0 to 103402
Series name: COWMAIN
Non-Null Count  Dtype
--------------  -----
68282 non-null  category
dtypes: category(1)
memory usage: 909.2 KB

In [ ]:
LFS['COWMAIN'].head(10)

2     Private sector employees
5     Private sector employees
6     Private sector employees
8     Private sector employees
10    Private sector employees
13     Public sector employees
14     Public sector employees
17    Private sector employees
19    Private sector employees
23    Private sector employees
Name: COWMAIN, dtype: category
Categories (7, object): ['Public sector employees' < 'Private sector employees' <
                         'Self-employed incorporated, with paid help' < 'Self-employed incorporated, no paid help' <
                         'Self-employed unincorporated, with paid help' < 'Self-employed unincorporated, no paid help' <
                         'Unpaid family worker']

In [ ]:
pd.crosstab(LFS['EDUC'], LFS['SEX'], normalize=1, ).round(3)

SEX                                    Male  Female
EDUC
0 to 8 years                          0.015   0.009
Some high school                      0.083   0.058
High school graduate                  0.206   0.165
Some postsecondary                    0.054   0.053
Postsecondary certificate or diploma  0.366   0.359
Bachelor's degree                     0.187   0.245
Above bachelor's degree               0.089   0.111

In [ ]:
m7 = smf.ols('HRLYEARN ~ C(EDUC) + C(SEX) + C(COWMAIN)', LFS)

results_m7 = m7.fit()

Stargazer([results_m7])