<a href="https://colab.research.google.com/github/havaledar/ECON3740/blob/main/W24_ECON3740_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
# !pip install gdown > /dev/null 2>&1
!pip install stargazer > /dev/null 2>&1


import gdown
import pandas as pd
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer

# Question 1

## Reading data

In [2]:
url = 'https://drive.google.com/file/d/1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU/view?usp=drive_link'
output_filename = 'ceosal.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU
To: /content/ceosal.dta
100%|██████████| 13.9k/13.9k [00:00<00:00, 12.7MB/s]

'ceosal.dta'

In [3]:
CEOSAL = pd.read_stata('/content/ceosal.dta', preserve_dtypes=False)

In [4]:
CEOSAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    175 non-null    int64
 1   age       175 non-null    int64
 2   college   175 non-null    int64
 3   grad      175 non-null    int64
 4   comten    175 non-null    int64
 5   ceoten    175 non-null    int64
 6   sales     175 non-null    float64
 7   profits   175 non-null    int64
 8   mktval    175 non-null    float64
 9   comtensq  175 non-null    int64
 10  ceotensq  175 non-null    int64
 11  profmarg  175 non-null    float64
 12  nsal      175 non-null    float64
dtypes: float64(4), int64(9)
memory usage: 19.1 KB

## Filtering the data

In [5]:
CEOSAL = CEOSAL[CEOSAL['age'] >50]

## Salary ~ Sales

In [6]:
m1 = smf.ols('salary ~ sales', CEOSAL)

results_m1 = m1.fit()

## Salary ~ Sales + Market Value

In [7]:
m2 = smf.ols('salary ~ sales + mktval', CEOSAL)

results_m2 = m2.fit()

## Regression table

In [8]:
Stargazer([results_m1, results_m2])

# Question 2

## Salary ~ CEO Tenure + Sales + Market Value

In [9]:
m3 = smf.ols('salary ~ ceoten + sales + mktval', CEOSAL)

results_m3 = m3.fit()

## CEO Tenure ~ Sales + Market Value

In [10]:
m4 = smf.ols('ceoten ~ sales + mktval', CEOSAL)

results_m4 = m4.fit()

## Residuals

In [11]:
CEOSAL['residuals'] = results_m4.resid

<ipython-input-11-5c87ea15e390>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CEOSAL['residuals'] = results_m4.resid

In [12]:
CEOSAL['residuals'].describe()

count    1.370000e+02
mean    -8.816954e-16
std      7.329537e+00
min     -8.662236e+00
25%     -5.317043e+00
50%     -1.675540e+00
75%      3.376666e+00
max      2.848864e+01
Name: residuals, dtype: float64

## Salary ~ Residuals

In [13]:
m5 = smf.ols('salary ~ residuals', CEOSAL)

results_m5 = m5.fit()

Stargazer([results_m3, results_m4, results_m5])

# Question 3

## Reading data

In [14]:
url = 'https://drive.google.com/file/d/1m0d9gZZBfHm7qGerKKLN7UzWaNUbQi0R/view?usp=sharing'
output_filename = 'lfs.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1m0d9gZZBfHm7qGerKKLN7UzWaNUbQi0R
To: /content/lfs.dta
100%|██████████| 13.6M/13.6M [00:00<00:00, 106MB/s]

'lfs.dta'

In [15]:
LFS = pd.read_stata('lfs.dta', convert_categoricals=True)

In [16]:
LFS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103403 entries, 0 to 103402
Data columns (total 60 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REC_NUM   103403 non-null  int32
 1   SURVYEAR  103403 non-null  int16
 2   SURVMNTH  103403 non-null  category
 3   LFSSTAT   103403 non-null  category
 4   PROV      103403 non-null  category
 5   CMA       103403 non-null  category
 6   AGE_12    103403 non-null  category
 7   AGE_6     19607 non-null   category
 8   SEX       103403 non-null  category
 9   MARSTAT   103403 non-null  category
 10  EDUC      103403 non-null  category
 11  MJH       61764 non-null   category
 12  EVERWORK  41639 non-null   category
 13  FTPTLAST  6518 non-null    category
 14  COWMAIN   68282 non-null   category
 15  IMMIG     103403 non-null  category
 16  NAICS_21  68282 non-null   category
 17  NOC_10    68282 non-null   category
 18  NOC_43    68282 non-null   category
 19  YABSENT   9358 non-null    category
 20  WKSAWAY   9358 non-null    float64
 21  PAYAWAY   8652 non-null    category
 22  UHRSMAIN  61764 non-null   float64
 23  AHRSMAIN  61764 non-null   float64
 24  FTPTMAIN  61764 non-null   category
 25  UTOTHRS   61764 non-null   float64
 26  ATOTHRS   61764 non-null   float64
 27  HRSAWAY   45373 non-null   float64
 28  YAWAY     6697 non-null    category
 29  PAIDOT    45373 non-null   float64
 30  UNPAIDOT  45373 non-null   float64
 31  XTRAHRS   45373 non-null   float64
 32  WHYPT     10154 non-null   category
 33  TENURE    61764 non-null   float64
 34  PREVTEN   6518 non-null    float64
 35  HRLYEARN  53443 non-null   float64
 36  UNION     53443 non-null   category
 37  PERMTEMP  53443 non-null   category
 38  ESTSIZE   53443 non-null   category
 39  FIRMSIZE  53443 non-null   category
 40  DURUNEMP  3571 non-null    float64
 41  FLOWUNEM  4139 non-null    category
 42  UNEMFTPT  4139 non-null    category
 43  WHYLEFTO  6518 non-null    category
 44  WHYLEFTN  6518 non-null    category
 45  DURJLESS  35422 non-null   float64
 46  AVAILABL  4416 non-null    category
 47  LKPUBAG   395 non-null     category
 48  LKEMPLOY  1686 non-null    category
 49  LKRELS    1093 non-null    category
 50  LKATADS   2612 non-null    category
 51  LKANSADS  1483 non-null    category
 52  LKOTHERN  830 non-null     category
 53  PRIORACT  3433 non-null    category
 54  YNOLOOK   1226 non-null    category
 55  TLOLOOK   138 non-null     category
 56  SCHOOLN   76566 non-null   category
 57  EFAMTYPE  103403 non-null  category
 58  AGYOWNK   26565 non-null   category
 59  FINALWT   103403 non-null  int16
dtypes: category(43), float64(14), int16(2), int32(1)
memory usage: 16.9 MB

In [17]:
LFS.shape

(103403, 60)

In [18]:
pd.read_stata('lfs.dta', iterator=True).variable_labels()

{'REC_NUM': 'Order of record in file',
 'SURVYEAR': 'Survey year',
 'SURVMNTH': 'Survey month',
 'LFSSTAT': 'Labour force status',
 'PROV': 'Province',
 'CMA': 'Nine largest CMAs',
 'AGE_12': 'Five-year age group of respondent',
 'AGE_6': 'Age in 2 and 3 year groups, 15 to 29',
 'SEX': 'Sex of respondent',
 'MARSTAT': 'Marital status of respondent',
 'EDUC': 'Highest educational attainment',
 'MJH': 'Single or multiple jobholder',
 'EVERWORK': 'Not currently employed, worked in the past',
 'FTPTLAST': 'Full- or part-time status of last job',
 'COWMAIN': 'Class of worker, main job',
 'IMMIG': 'Immigration status',
 'NAICS_21': 'Industry of main job',
 'NOC_10': 'Occupation at main job',
 'NOC_43': 'Occupation at main job',
 'YABSENT': 'Reason of absence, full week',
 'WKSAWAY': 'Number of weeks absent from work',
 'PAYAWAY': 'Paid for time off, full-week absence only',
 'UHRSMAIN': 'Usual hours worked per week at main job',
 'AHRSMAIN': 'Actual hours worked per week at main job',
 'FTPTMAIN': 'Full- or part-time status at main or only job',
 'UTOTHRS': 'Usual hours worked per week at all jobs',
 'ATOTHRS': 'Actual hours worked per week at all jobs',
 'HRSAWAY': 'Hours away from work, part-week absence only',
 'YAWAY': 'Reason for part-week absence',
 'PAIDOT': 'Paid overtime hours in reference week',
 'UNPAIDOT': 'Unpaid overtime hours in reference week',
 'XTRAHRS': 'Number of overtime or extra hours worked',
 'WHYPT': 'Reason for part-time work',
 'TENURE': 'Job tenure with current employer (months)',
 'PREVTEN': 'Job tenure with previous employer (months)',
 'HRLYEARN': 'Usual hourly wages, employees only',
 'UNION': 'Union status, employees only',
 'PERMTEMP': 'Job permanency, employees only',
 'ESTSIZE': 'Establishment size',
 'FIRMSIZE': 'Firm size',
 'DURUNEMP': 'Duration of unemployment (weeks)',
 'FLOWUNEM': 'Flows into unemployment',
 'UNEMFTPT': 'Unemployed, type of job wanted',
 'WHYLEFTO': 'Reason for leaving job during previous year',
 'WHYLEFTN': 'Reason for leaving job during previous year',
 'DURJLESS': 'Duration of joblessness (months)',
 'AVAILABL': 'Availability during the reference week',
 'LKPUBAG': 'Unemployed, used public employment agency',
 'LKEMPLOY': 'Unemployed, checked with employers directly',
 'LKRELS': 'Unemployed, checked with friends or relatives',
 'LKATADS': 'Unemployed, looked at job ads',
 'LKANSADS': 'Unemployed, placed or answered ads',
 'LKOTHERN': 'Unemployed, other methods',
 'PRIORACT': 'Main activity before started looking for work',
 'YNOLOOK': 'Reason for not looking for work during the reference week',
 'TLOLOOK': 'Temporary layoff, looked for work during the last four weeks',
 'SCHOOLN': 'Current student status',
 'EFAMTYPE': 'Type of economic family',
 'AGYOWNK': 'Age of youngest child',
 'FINALWT': 'Standard final weight'}

## Mean

In [19]:
LFS['HRLYEARN'].describe()

count    53443.000000
mean        32.958818
std         17.763025
min          5.190000
25%         20.000000
50%         28.000000
75%         41.000000
max        197.440000
Name: HRLYEARN, dtype: float64

## Filter

In [20]:
LFS = LFS[LFS['HRLYEARN'] > 0]

In [21]:
LFS.shape

(53443, 60)

In [22]:
LFS = LFS[((LFS['COWMAIN'] == 'Private sector employees') |
           (LFS['COWMAIN'] == 'Public sector employees')
          )]

In [23]:
LFS.shape

(53361, 60)

In [24]:
LFS_values = pd.read_stata('lfs.dta', convert_categoricals=False)

In [26]:
LFS_values[(LFS_values['HRLYEARN'] > 0) & (LFS_values['COWMAIN'] <= 2)]

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
2,3,2023,8,1,13,0,1,2.0,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,NaN,156
5,6,2023,8,1,12,0,2,3.0,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1,NaN,320
6,7,2023,8,1,10,0,7,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,2.0,23
8,9,2023,8,1,24,0,1,2.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,106
10,11,2023,8,1,59,0,10,NaN,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103396,103397,2023,8,1,35,4,8,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,258
103398,103399,2023,8,1,24,1,7,NaN,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,15,4.0,320
103400,103401,2023,8,1,46,0,3,5.0,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,1.0,71
103401,103402,2023,8,1,12,0,1,1.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,NaN,240
103402,103403,2023,8,1,35,0,6,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,1.0,123

## Types

In [27]:
LFS[['HRLYEARN', 'EDUC', 'SEX', 'COWMAIN']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53361 entries, 2 to 103402
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HRLYEARN  53361 non-null  float64
 1   EDUC      53361 non-null  category
 2   SEX       53361 non-null  category
 3   COWMAIN   53361 non-null  category
dtypes: category(3), float64(1)
memory usage: 990.9 KB

In [28]:
LFS[['HRLYEARN', 'EDUC', 'SEX', 'COWMAIN']].head()

,HRLYEARN,EDUC,SEX,COWMAIN
2,18.25,Some postsecondary,Male,Private sector employees
5,16.00,Some postsecondary,Male,Private sector employees
6,28.50,High school graduate,Male,Private sector employees
8,14.25,Postsecondary certificate or diploma,Female,Private sector employees
10,28.14,Postsecondary certificate or diploma,Male,Private sector employees

## Tabulation

In [29]:
LFS['EDUC'].value_counts(normalize=1).round(3)

Postsecondary certificate or diploma    0.363
Bachelor's degree                       0.216
High school graduate                    0.186
Above bachelor's degree                 0.100
Some high school                        0.071
Some postsecondary                      0.053
0 to 8 years                            0.012
Name: EDUC, dtype: float64

In [30]:
pd.crosstab(LFS['EDUC'], LFS['SEX'], normalize=1).round(3)

SEX                                    Male  Female
EDUC
0 to 8 years                          0.015   0.009
Some high school                      0.083   0.058
High school graduate                  0.206   0.165
Some postsecondary                    0.054   0.053
Postsecondary certificate or diploma  0.366   0.359
Bachelor's degree                     0.187   0.245
Above bachelor's degree               0.089   0.111

## Wage ~ Education + Sex + Class of Worker

In [31]:
m6 = smf.ols('HRLYEARN ~ C(EDUC) + C(SEX) + C(COWMAIN)', LFS)

results_m6 = m6.fit()

Stargazer([results_m6])

# Knit to PDF

In [ ]:
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc > /dev/null 2>&1
!pip install pypandoc > /dev/null 2>&1

from google.colab import drive
drive.mount('/content/drive')

!cp /content/drive/MyDrive/Colab\ Notebooks/W24_ECON3740_Lab_5 ./

!jupyter nbconvert --to PDF "W24_ECON3740_Lab_5" > /dev/null 2>&1